@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
:root {
  --spotify-green: #1ed760;
  --spotify-dark-grey: #1a1a1a;
  --spotify-grey: #222326;
  --spotify-light-grey: #333333;
}
body {
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  height: 100vh;
} 
.content, .login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  padding-top: 20px;
}
.login {
  flex-direction: column;
  text-align: center;
}
.logo {
  margin: 1rem;
  font-size: 1.2rem;
  color: #fff;
}
.login > .logo {
  font-size: 1.6em;
}
h1 span {
  font-weight: 700;
}  
h1 {
  font-weight: 400;
}
/********** Nav **********/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  background: #000;
  color: #fff;
}
.nav-link {
  margin: 1rem;
  color: #000;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
  word-wrap: none;
  max-lines: 1;
}
.nav-link:hover {
  color: var(--spotify-green);
  transition: ease-in-out 0.2s;
}  
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  vertical-align: middle;
}
.user-name {
  display: none;
  padding: 0 4px;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 4px;
}
.show {
  display: block;
}
.dropdown-link {
  text-decoration: none;
  color:#fff;
  background-color: var(--spotify-grey);
  margin: 0 1rem 0 0;
  padding: 8px 16px;
  display: block;
  font-size: 14px;
}
.dropdown-link:hover {
  background-color: var(--spotify-light-grey);
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin: 4px;
  display: none;
}
.down {
  transform: rotate(45deg);
}
/********** Form **********/
.form {
  align-self: center;
  min-height: 400px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0,0,0,0.5);
  padding: 32px;
  margin: 32px;
  box-sizing: border-box;
  border-radius: 12px;
}
.form h2 {
  color:var(--spotify-grey);
  margin:0 0 40px;
  padding:0;
}
.form input, form select{
  position:relative;
  margin-bottom: 8px;
  width:100%;
  border: 1px solid;
  border-radius: 4px;
  outline:none;
  padding: 10px;
  box-sizing: border-box;
  color: var(--spotify-grey);
}
.form input:focus, .form select:focus {
  border-color: var(--spotify-green);
}
form {
  width: 100%;
}
label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
/********** Iframe **********/
.embed {
  margin: 32px;
  align-self: center;
  min-height: 400px;
}
iframe {
  width: 100%;
}
/********** Buttons **********/
.form input[type="submit"], .button {
  padding: 14px 32px;
  border-radius: 50px;
  border-style: none;
  background-color: var(--spotify-green);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}
.form input[type="submit"]:hover, .button:hover {
  transform: scale(1.04);
}
.buttons-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.buttons-group > .button {
  margin: 20px 8px 8px 8px;
  letter-spacing: initial;
  line-height: 1;
  font-size: 14px;
  padding: 7px 16px;
}
.btn-delete {
  background-color: #fff;
  color: #000;
}
.btn-nav {
  background-color: var(--spotify-dark-grey);
  color: #fff;
  text-transform: none;
  padding: 1px;
  font-size: 16px;
  margin: 0 1rem;
  border-radius: 50px;
  border-style: none;
  text-decoration: none;
  text-align: center;
  font-weight: 450;
  line-height: 1;
  cursor: pointer;
}
.btn-nav:hover {
  background-color: var(--spotify-grey);
}

@media (min-width: 768px) {
  .form {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .user-name, i.arrow {
    display: inline-block;
  }
  .form input[type="submit"], .button {
    letter-spacing: 1.5px;
    line-height: initial;
  }
}

@media (min-width: 430px) {
  .form {
    padding: 50px;
    margin: 50px;
  }
  .embed {
    margin: 50px;
  }
  .buttons-group > .button {
    padding: 14px 32px;
  }
}



  