{% extends 'base.html' %}

{% block body %}

{% if not 'user' in session %}
<div class="login">
    <h1 class="logo"><span>Spotify</span> Playlist Generator</h1>
    <a href="/authorize/" class="button">Log in to Spotify</a>
</div>

{% else %}
<nav class="header">
    <h1 class="logo"><span>Spotify</span> Playlist Generator</h1>
    <div class="links">    
        {% if not 'user' in session %}
            <a href="/authorize/" class="nav-link">Log in to Spotify</a>
        {% else %}
            <span>Welcome, {{ session['user']['display_name'] }}</span>
            <a href="/logout/" class="nav-link">Log out</a>
        {% endif %}
    </div>
</nav>

<div class="content">
    <div class="form">
        <form action="/" method="POST">
            <h2>Create Playlist</h2>
            <label for="playlistname">Playlist Name</label>
            <input type="text" name="playlistname" placeholder="New Playlist Name" required/>
            <label for="playlistname">Genre</label>
            <select type="text" name="seedgenres" placeholder="Genres" required>
                <option value="">Seed Genres</option>
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre | capitalize | replace("-"," ") }}</option>
                {% endfor %}
            </select>
            <label for="targettempo">Target Tempo</label>
            <input type="number" name="targettempo" placeholder="Beats Per Minute (optional)" />
            {% if not iframe %}
            <input type="submit" value="Generate playlist" />
            {% else %}
            <div class="buttons">
                <a href="{{ url_for('refresh') }}" class="button btn-refresh">Create New Playlist</a>
                <a href="{{ url_for('delete_playlist', playlist_id=playlist_id) }}" class="button btn-delete">Delete playlist</a>
            </div>
            {% endif %}
        </form>
    </div>

    <div class="embed">
       {{ iframe | safe }}
    </div>

</div>
{% endif %}

{% endblock %}