{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<nav class="header">
    <h1 class="header-text"><span>Spotify</span> Playlist Generator</h1>
    <div class="links">    
        {% if not 'user' in session %}
            <a href="/authorize/" class="header-link">Log in</a>
        {% else %}
            <span>Welcome, {{ session['user']['display_name'] }}</span>
            <a href="/logout/" class="header-link">Log out</a>
        {% endif %}
    </div>
</nav>

<div class="content">
    <div class="form">
        <form action="/" method="POST">
            <h2>Create Playlist</h2>
            <input type="text" name="playlistname" placeholder="New Playlist Name" />
            <select type="text" name="seedgenres" placeholder="Seed Genres">
                <option value="">Seed Genres</option>
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre | capitalize | replace("-"," ") }}</option>
                {% endfor %}
            </select>
            <input type="number" name="targettempo" placeholder="Beats Per Minute" />
            {% if not iframe %}
            <input type="submit" value="Generate playlist" />
            {% else %}
            <div class="buttons">
                <a href="{{ url_for('refresh') }}" class="button btn-refresh">Create New Playlist</a>
                <a href="{{ url_for('delete_playlist', playlist_id=playlist_id) }}" class="button btn-delete">Delete playlist</a>
            </div>
            {% endif %}
        </form>
    </div>

    <div id="embed-iframe" class="embed">
        {{ iframe | safe }}
    </div>
</div>

{% endblock %}